---
layout: page
class: portfolio
title: Mes réalisations
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex" data-toggle="buttons">
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="all"/>Tout
          </label>
          {% assign tags = '' | split: '' %}
          {% for item in site.portfolio %}
            {% assign tags = tags | concat: item.tags %}
          {% endfor %}
          {% assign tags = tags | uniq %}
          {% for tag in tags %}
          <label class="btn btn-sm btn-primary">
            <input type="radio" name="shuffle-filter" value="{{ tag | slugify }}" />{{ tag }}
          </label>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.portfolio %}
        {% include portfolio-component.html item=item %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->