.hero-area {
  padding: 300px 0 200px;
  position: relative;
  background: center / cover no-repeat url(/assets/images/illustrations/meduse-dust-flare.png) $primary-color !important;
  @include tablet {
    padding: 250px 0 150px;
    overflow: hidden;
  }
  h1{
    position: relative;
    z-index: 2;
  }
}

.layer {
  position: absolute;
  z-index: 1;
}

#l1 {
  top: 0px;
  right: 0px;
}

#l2 {
  bottom: 200px;
  left: 50%;
}

#l3 {
  top: 400px;
  right: 30%;
}

#l4 {
  top: 100px;
  right: 10%;
}

#l5 {
  top: 100px;
  right: -150px;
}

#l6 {
  bottom: -20px;
  left: 10%;
}

#l7 {
  bottom: 100px;
  left: 20%;
}

#l8 {
  bottom: 160px;
  right: 45%;
}

#l9 {
  bottom: 100px;
  right: -10px;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}
