
/* service */
.hover-bg-primary {
  transition: .3s ease;

  &:hover {
    background: $primary-color;

    * {
      color: $white;
    }
  }
}


.hover-shadow{
  transition: .2s ease;
  &:hover{
    box-shadow: 0px 18px 40px 8px rgba($border-color, 0.34) !important;
  }
}


/* /service */

/* portfolio */
.hover-wrapper {
  overflow: hidden;

  img {
    transition: .3s ease;
    transform: scale(1.1);
  }

  &:hover {
    img {
      transform: scale(1);
    }

    .hover-overlay {
      opacity: 1;
      visibility: visible;
    }
  }
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba($color: $black, $alpha: .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */

/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    box-shadow: 0px 0px 80.75px 14.25px rgba(224, 241, 255, 0.34);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

/* /footer */
