<!-- about -->
<section class="section">
  <div class="container">
    {% assign about = site.pages | where: "url", "/about.html" | first %}
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        {% assign excerpt = about.content | newline_to_br  | strip_newlines | split: "<br />" %}
        <p class="font-secondary text-dark">{{ excerpt[2] | remove: "<p>" | remove: "</p>"}}</p>
        <!--<a href="{{ about.url }}" class="btn btn-transparent">{{ about.button }}</a>-->
        {% include fuzzy-button.html url=about.url text=about.button %}
      </div>
    </div>
  </div>
</section>
<!-- /about -->