<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="border-top text-center border-dark py-5 mt-5">
    <p class="mb-0 text-light">{{site.data.settings.copyright }}</p>
  </div>
</footer>
<!-- /footer -->


<!-- JS Plugins -->
{% if page.url == "/portfolio.html" %}
  <script src="https://unpkg.com/shufflejs@5/dist/shuffle.min.js"></script>
{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous" async="true"></script>


<!-- Main Script -->
<script src="{{ '/assets/js/script.js' | relative_url }}" async="true"></script>
