<a class='button_inner transparent' href="{{include.url}}">
	{{include.text}}
	<div class='b_l_quad'>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
		<div class='button_spots'></div>
	</div>
</a>
