<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  <meta name="description" content="{%if page.description%}{{page.description}}{%else%}{{site.data.settings.description}}{%endif%}">
    
  <meta name="author" content="{{ site.data.settings.author }}">
  
  <!-- Preload fonts -->
  <link rel="preload" href="{{ '/assets/fonts/Domine-VariableFont_wght.ttf' | relative_url }}" as="font" type="font/truetype" crossorigin>
  <link rel="preload" href="{{ '/assets/fonts/Jost-VariableFont_wght.ttf' | relative_url }}" as="font" type="font/truetype" crossorigin>

  <!-- Main Stylesheet -->
  <link href="{{ '/assets/scss/style.css' | relative_url }}" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ site.data.settings.favicon | relative_url }} " type="image/x-icon">
  <link rel="icon" href="{{ site.data.settings.favicon | relative_url }} " type="image/x-icon">
</head>
