<!-- hero area -->
<section class="hero-area bg-cover bg-image" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white">{{ site.data.settings.baseline }}</h1>
      </div>
    </div>
  </div>
  {% for shape in site.data.design.shapes %}
    {% assign idx = forloop.index | plus: 1 | prepend: 'l' %}
     <div class="layer{% unless shape.onmobile == true %} d-none d-lg-block{% endunless %}" id="{{ idx }}"> 
      <img src="{{ shape.src | relative_url }}" alt="bg-shape">
     </div> 
  {% endfor %}
  <ul class="list-unstyled ms-5 mt-3 position-relative zindex-1">
    {% for social in site.data.settings.social %}
    <li class="mb-3 social"><a class="text-white" href="{{ social.link }}"><i class="ico {{ social.icon }} align-bottom"></i><span class="ms-2">@{{ social.handle }}</span></a></li>
    {% endfor %}
  </ul>
</section>
<!-- /hero area -->
