{% assign tags = "" | split: "" %}
{% for tag in include.item.tags %}
	{% assign slug = tag | slugify %}
	{% assign tags = tags | push: slug %}
{% endfor %}
<div class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups='{{ tags | jsonify}}'>
	<a href="{{ include.item.url }}">
		<div class="position-relative rounded hover-wrapper">
			<img data-src="{{ include.item.image | relative_url }}" alt="portfolio-image"
				class="img-fluid rounded w-100 d-block lazyload">
			<div class="hover-overlay">
				<div class="hover-content">
					<h3>{{include.item.title}}</h3>
					<h4>{{include.item.description}}</h4>
				</div>
			</div>
		</div>
	</a>
</div>
