<section class="mt-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.services }}</h2>
      </div>
      {% for service in site.services %}
      <a class="col-8 col-lg mb-4 rows" href="/portfolio#{{ service.category }}">
        <div class="card {{ service.color }}">
          <div class="card-body text-center px-4 py-5">
            <!-- <img src="{{ service.image }}" alt="icône" class="w-50 "> -->
            <h3 class="mb-4">{{ service.title }}</h4>
              {{ service.excerpt | markdownify }}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>