<section class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.services }}</h2>
      </div>
      {% for service in site.services %}
      <a class="col-md-4 mb-4 mb-md-0" href="/portfolio#{{ service.category }}">
        <div class="card{% if service.active %} active-bg-primary{% endif %}">
          <div class="card-body text-center px-4 py-5">
            <i class="{{ service.icon }} icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">{{ service.title }}</h4>
              {{ service.content | markdownify }}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</section>