{% for p in include.collection %}
{% assign is_odd = forloop.index | modulo: 2 %}
<section class="{{ p.color }} p-5">
	<div class="row show-on-scroll justify-content-center align-items-center{% if is_odd == 1 %} fade-left{% else %} fade-right{% endif %}">
		<div class="col-9 col-lg-4 {% unless is_odd == 1 %} order-lg-last{% endunless %} mb-4 mb-lg-0">
			<img src="{{ p.image }}" alt="illustration" class="img-fluid">
		</div>
		<div class="col-10 col-lg-6 ms-lg-5">
			<h2 class="fs-1">{{ p.title}}</h2>
			{{ p.content | markdownify }}
		</div>
	</div>
</section>
{% endfor %}