<section class="section bg-primary position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">{{ site.data.settings.testimonial }}</h2>
      </div>
      <div class="col-lg-10 mx-auto testimonial-slider">
        {% for testimonial in site.testimonials %}
        <!-- slider-item -->
        <div class="text-center testimonial-content">
         <!-- <i class="ti-quote-right text-white icon mb-4 d-inline-block"></i>-->
          <p class="text-white mb-4">{{ testimonial.content | markdownify | remove: '<p>' | remove: '</p>'}}</p>
          <img class="img-fluid rounded-circle mb-4 d-inline-block" src="{{ testimonial.image | relative_url }}"
            alt="{{ testimonial.name }}">
          <h4 class="text-white">{{ testimonial.name }}</h4>
          <h6 class="text-light mb-4">{{ testimonial.designation }} de {{ testimonial.company }}</h6>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- bg shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/meduse-dust-flare.png" alt="map" class="img-fluid bg-map">
  <img src="{{ site.baseurl }}/assets/images/illustrations/rayon-vert.png" alt="bg-shape" class="img-fluid bg-shape-1">
  <img src="{{ site.baseurl }}/assets/images/illustrations/rayon-cyan.png" alt="bg-shape" class="img-fluid bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/rayon-jaune.png" alt="bg-shape" class="img-fluid bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/rayon-magenta.png" alt="bg-shape" class="img-fluid bg-shape-4">
  <img src="{{ site.baseurl }}/assets/images/illustrations/rayon-orange.png" alt="bg-shape" class="img-fluid bg-shape-5">
</section>
