<section class="section bg-cover bg-image position-relative testimonial-bg-shapes">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title text-white mb-5">{{ site.data.settings.testimonial }}</h2>
      </div>
      <div id="testimonials" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
        <ol class="carousel-indicators">
          {% for testimonial in site.testimonials %}
          <li data-bs-target="#testimonials" data-bs-slide-to="{{ forloop.index0 }}" {% if forloop.first == true %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for testimonial in site.testimonials %}
          <div class="carousel-item text-center{% if forloop.first == true %} active{% endif %}">
            <p class="text-white mb-4">{{ testimonial.content | markdownify | remove: '<p>' | remove: '</p>'}}</p>
            <img class="img-fluid rounded-circle mb-4 portrait" src="{{ testimonial.image | relative_url }}"
              alt="{{ testimonial.name }}">
            <h4 class="text-white">{{ testimonial.name }}</h4>
            <h6 class="text-light mb-4">{{ testimonial.designation }} de {{ testimonial.company }}</h6>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
