body {
  background-color: $body-color;
  overflow-x: hidden;
}

::selection {
  background: lighten($color: $primary-color, $amount: 10);
  color: $white;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;

  &:focus {
    outline: 0;
  }
}

a.text-dark{
  &:hover{
    color: $primary-color !important;
  }
}

a:hover {
  color: $primary-color;
}

.clickable {
  cursor: pointer;
}

.section-title {
  margin-bottom: 80px;
  font-family: $primary-font;
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-image {
  background-image: url(/assets/images/illustrations/meduse-dust-flare.svg);
  background-color: $primary-color;
}

.bg-image {
  &.education, &.contact {
    background-image: url(/assets/images/backgrounds/education-bg.png);
    background-color: inherit;
    background-size: cover;
  }
}

/* overlay */

.overlay {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black;
    opacity: .5;
  }
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-gray{
  background: $gray !important;
}

.text-primary {
  color: $primary-color !important;
}

.text-color {
  color: $text-color;
}

.text-dark {
  color: $text-color-dark !important;
}

.text-light {
  color: $text-color-light !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg{
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: $secondary-font !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba($primary-color, 0.34) !important;
}

.bg-dark{
  background-color: $primary-color !important;
}

/* icon */
.icon {
  font-size: 45px;
  color: $black;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */

/* form */
.form-control{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid $border-color;
  height: 60px;
  &:focus{
    border-color: $primary-color;
    outline: 0;
    box-shadow: none !important;
  }
}

textarea.form-control{
  height: 120px;
}
/* /form */

/* card */
.card{
  border: 0;
  height: 100%;

  &:hover .card-body {
    transform: scale(0.99);
  }

  h3 {
    font-family: $primary-font;
    color: $primary-color;
  }
}

@for $i from 1 through length($themeColours) {
  $color: nth($themeColours, $i);
  a:nth-child(#{$i}) .card {
    background: $color;

    h3 {
      color: $white;
    }

    p {
      color: $primary-color;
    }
  }
}
/* /card */

.portrait {
  max-height: 100px;
}

.welcome p {
  font-family: $primary-font;
  
  @for $i from 1 through length($themeColours) {
    $color: nth($themeColours, $i);
    mark:nth-child(#{$i}) {
      background-color: $color;
    }
  }

  mark {
    padding: 3px 5px;
  }
}
