// Color Variables
$primary-color: #ff5714;
$secondary-color: #1be7ff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Yanone', sans-serif;
$secondary-font: 'Young', serif;
