---
---

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

// Color Variables
$primary-color: {{ site.data.design.primary-color }};
$secondary-color: {{ site.data.design.secondary-color }};
$text-color: {{ site.data.design.text-color }};
$text-color-dark: {{ site.data.design.text-color-dark }};
$text-color-light: {{ site.data.design.text-color-light }};
$body-color:{{ site.data.design.body-color }};
$border-color: {{ site.data.design.border-color }};
$black: #000;
$white: #fff;
$gray: {{ site.data.design.text-color-dark }};
//#eaeaea;

// Font Variables
$primary-font: {{ site.data.design.primary-font }};
$secondary-font: {{ site.data.design.secondary-font }};

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'icons';

@import 'templates/navigation';

@import 'templates/client';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/about';

@import 'templates/portfolio';

@import 'templates/fuzzy-button';