---
---

/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/

// Color Variables
$primary-color: {{ site.data.design.primary-color }};
$secondary-color: {{ site.data.design.secondary-color }};
$text-color: {{ site.data.design.text-color }};
$text-color-dark: {{ site.data.design.text-color-dark }};
$text-color-light: {{ site.data.design.text-color-light }};
$body-color:{{ site.data.design.body-color }};
$border-color: {{ site.data.design.border-color }};
$dark-green: {{ site.data.design.dark-green }};
$dark-blue: {{ site.data.design.dark-blue }};
$dark-yellow: {{ site.data.design.dark-yellow }};
$dark-magenta: {{ site.data.design.dark-magenta }};
$dark-orange: {{ site.data.design.dark-orange }};
$black: #000;
$white: #fff;
$gray: {{ site.data.design.text-color-dark }};
$green : {{ site.data.design.green }};
$blue: {{ site.data.design.blue }};
$yellow: {{ site.data.design.yellow }};
$magenta: {{ site.data.design.magenta }};
$orange: {{ site.data.design.orange }};
$themeColours: ($green, $blue, $yellow, $magenta, $orange);

// Font Variables
$primary-font: {{ site.data.design.primary-font }};
$secondary-font: {{ site.data.design.secondary-font }};

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'icons';

@import 'templates/navigation';

@import 'templates/client';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/about';

@import 'templates/portfolio';

@import 'templates/fuzzy-button';

@import 'templates/contact';

@import 'templates/services';