---
layout: page
---
<section class="section client">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 py-5">
        <h2 class="mb-4">{{ page.title | escape }}</h2>
        <div class="mb-3">
        {% for tag in page.tags %}
          <a class="btn btn-sm btn-primary" href="/portfolio#{{ tag | slugify }}">{{ tag }}</a>
        {% endfor %}
        </div>
        <div class="d-flex align-items-start flex-wrap">
          <img src="{{page.image | relative_url }}" class="align-self-start me-3 mb-3 col-3 rounded" alt="{{page.title}}">
          <div class="col-12 col-lg-8">
            {{ content }}
          </div>
        </div>
        <div class="row mt-3" data-bs-toggle="modal" data-bs-target="#lightbox">
          {% for image in page.gallery %}
            <div class="col-6 col-md-4 col-lg-3 clickable">
              <img src="{{ image.src }}" class="img-fluid rounded mb-3"  alt="{{ image.title }}" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.index0 }}">
            </div>
          {% endfor %}
        </div>
        <div class="modal fade" id="lightbox" role="dialog" aria-labelledby="lightbox" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered mw-75 mw-lg-50" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <!-- Carousel -->
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    {% for image in page.gallery %}
                    <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
                      <img class="d-block w-100" src="{{ image.src }}" alt="{{ image.title }}">
                    </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
