---
layout: default
---

<!-- page title -->
<section class="page-title bg-cover bg-image position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  {% for img in site.data.design.illustrations %}
    <img src="{{ img | relative_url }}" alt="illustrations" class="bg-shape-{{ forloop.index }}{% if forloop.first == true %} w-100{% endif %}">
  {% endfor %}
</section>
<!-- /page title -->

{{ content }}
