---
layout: default
---

<!-- page title -->
<section class="page-title bg-cover bg-image position-relative {{page.class}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white">{% if page.url contains 'portfolio' %}{{site.data.settings.portfolio}}{% else %}{{ page.title }}{% endif %}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  {% for img in site.data.design.illustrations %}
    <img src="{{ img.src | relative_url }}" alt="illustrations" class="bg-shape-{{ forloop.index | plus: 1}}{% unless img.onmobile == true %} d-none d-lg-block{% endunless %}">
  {% endfor %}
</section>
<!-- /page title -->
<main class="section{% if page.class %} {{ page.class }}{% endif %}">
    {{ content }}
</main>
